
audio_processing/fouier_trans_chunks.npy
audio_processing/mp3/claire_de_lune.mp3
audio_processing/audio_test.ipynb
nn_implementation/tensors/tensor_dataset_small/13493170201957854994/00000000.shard/00000000.snapshot
nn_implementation/tensors/tensor_dataset_small/dataset_spec.pb
nn_implementation/tensors/tensor_dataset_small/snapshot.metadata
MUSDB18/
nn_implementation/tensors/
nn_implementation/training_LOGL2/checkpoint
nn_implementation/training_LOGL2/checkpoint
nn_implementation/training_LOGL2/cp.ckpt.data-00000-of-00001
nn_implementation/training_LOGL2/cp.ckpt.index
nn_implementation/training_LOGL2_1/checkpoint
nn_implementation/training_LOGL2_1/cp.ckpt.data-00000-of-00001
nn_implementation/training_LOGL2_1/cp.ckpt.index
nn_implementation/training_LOGL2_2/checkpoint
nn_implementation/training_LOGL2_2/cp.ckpt.data-00000-of-00001
nn_implementation/training_LOGL2_2/cp.ckpt.index
nn_implementation/training_SDR/checkpoint
nn_implementation/training_SDR/cp.ckpt.data-00000-of-00001
nn_implementation/training_SDR/cp.ckpt.index
nn_implementation/training_SDR_2/checkpoint
nn_implementation/training_SDR_2/cp.ckpt.data-00000-of-00001
nn_implementation/training_SDR_2/cp.ckpt.index
nn_implementation/training_LOGL2/checkpoint
nn_implementation/training_LOGL2/cp.ckpt.data-00000-of-00001
nn_implementation/training_LOGL2/cp.ckpt.index
nn_implementation/training_LOGL2_1/checkpoint
nn_implementation/training_LOGL2_1/cp.ckpt.data-00000-of-00001
nn_implementation/training_LOGL2_1/cp.ckpt.index
nn_implementation/training_LOGL2_2/checkpoint
nn_implementation/training_LOGL2_2/cp.ckpt.data-00000-of-00001
nn_implementation/training_LOGL2_2/cp.ckpt.index
nn_implementation/training_SDR/checkpoint
nn_implementation/training_SDR/cp.ckpt.data-00000-of-00001
nn_implementation/training_SDR/cp.ckpt.index
nn_implementation/training_SDR_2/checkpoint
nn_implementation/training_SDR_2/cp.ckpt.data-00000-of-00001
nn_implementation/training_SDR_2/cp.ckpt.index
nn_implementation/training_LOGL2/checkpoint
/nn_implementation/data_v2
nn_implementation/training_LOGL2/checkpoint
nn_implementation/training_LOGL2/checkpoint
nn_implementation/training_LOGL2/cp.ckpt.data-00000-of-00001
nn_implementation/training_LOGL2/cp.ckpt.index
nn_implementation/training_LOGL2_1/checkpoint
nn_implementation/training_LOGL2_1/cp.ckpt.data-00000-of-00001
nn_implementation/training_LOGL2_2/checkpoint
nn_implementation/training_LOGL2_2/cp.ckpt.index
nn_implementation/training_LOGL2_2/cp.ckpt.data-00000-of-00001
nn_implementation/training_LOGL2/checkpoint
nn_implementation/training_LOGL2/checkpoint
nn_implementation/training_LOGL2/cp.ckpt.data-00000-of-00001
nn_implementation/training_LOGL2/cp.ckpt.index
nn_implementation/training_LOGL2_1/checkpoint
nn_implementation/training_LOGL2_1/cp.ckpt.data-00000-of-00001
nn_implementation/training_LOGL2_1/cp.ckpt.index
nn_implementation/training_LOGL2_2/checkpoint
nn_implementation/training_LOGL2_2/cp.ckpt.data-00000-of-00001
nn_implementation/training_LOGL2_2/cp.ckpt.index
nn_implementation/training_SDR/checkpoint
nn_implementation/training_SDR/cp.ckpt.index
nn_implementation/training_SDR_2/checkpoint
nn_implementation/training_SDR_2/cp.ckpt.data-00000-of-00001
nn_implementation/training_SDR_2/cp.ckpt.index
nn_implementation/training_sdsdr/checkpoint
nn_implementation/training_sdsdr/cp.ckpt.data-00000-of-00001
nn_implementation/training_sdsdr/cp.ckpt.index
nn_implementation/training_sdsdr_norm/checkpoint
nn_implementation/training_sdsdr_norm/cp.ckpt.data-00000-of-00001
nn_implementation/training_sdsdr_norm/cp.ckpt.index
nn_implementation/training_LOGL2/checkpoint
nn_implementation/training_final_full_no1/cp.ckpt.index
nn_implementation/training_final_full_no1/cp.ckpt.data-00000-of-00001
nn_implementation/training_final_full_no1/checkpoint
nn_implementation/training_final_full/cp.ckpt.index
nn_implementation/training_final_full/cp.ckpt.data-00000-of-00001
nn_implementation/training_final_full/checkpoint
mss_nn_implementation/data_v2/tensor_dataset_full_norm/13306597081714381786/00000000.shard/00000000.snapshot
mss_nn_implementation/data_v2/tensor_dataset_full_norm/2398104704428752781/00000000.shard/00000000.snapshot
mss_nn_implementation/data_v2/tensor_dataset_full_norm/3067977366753148935/00000000.shard/00000000.snapshot
/mss_nn_implementation/training_SDR
/mss_nn_implementation/training_sdsdr_norm
/mss_nn_implementation/training_sdsdr
